* {
    margin: 0 auto;
    padding: 0;
}
body{
    background-color: rgb(237, 225, 215);
}

#container{
    width: 100%;
    margin: 0 auto;
}
header{
    height: 2rem;
    background-color: rgb(70, 70, 70);
    padding: 2%;
    text-align: center;
    display: flex;
    align-items: center;
}
/*--------------폰트 적용---------------*/
/*--------한/영/한/일-------*/
/*101번*/
.font_box101>li{
    font-family: 'JoseonPalace';
}
/*102번*/
.font_box102>li{
    font-family:'Malgun Gothic';
}

/*--------한/영/일-------*/
/*110번*/
.font_box110>li{
    font-family: 'Ansungtangmyeon';
}
/*111번*/
.font_box111>li{
    font-family: 'ChusaSarang';
}
/*112번*/
.font_box112>li{
    font-family: 'Florence';
}

/*--------한/영-------*/
/*120번*/
.font_box120>li{
    font-family: 'SchoolSafetyWizard';
}
/*121번*/
.font_box121>li{
    font-family: 'GaviaNapjakblock';
}
/*122번*/
.font_box122>li{
    font-family: 'NexonBazzi';
}
/*123번*/
.font_box123>li{
    font-family: 'Diary';
}
/*124번*/
.font_box124>li{
    font-family: 'PalchilmmDailyItalic';
}
/*125번*/
.font_box125>li{
    font-family: 'KccAnchangho';
}
/*126번*/
.font_box126>li{
    font-family: 'Cooljazz', sans-serif;
}
/*127번*/
.font_box127>li{
    font-family: 'SolmoeKimDaegeon';
}
/*128번*/
.font_box128>li{
    font-family: 'GabiaCheongyeon';
}
/*129번*/
.font_box129>li{
    font-family: 'JeonnamEducationYuna';
}
/*130번*/
.font_box130>li{
    font-family: 'NotGothicButGoding';
}
/*131번*/   
.font_box131>li{
    font-family: 'OngleipWFontList';
}
/*132번*/   
.font_box132>li{
    font-family: 'WoodGarden';
}

/*---------영----------*/
/*151번*/
.font_box151>li{
    font-family: 'YeongjuSeonbi';
}
/*152번*/
.font_box152>li{
    font-family: "Bradley Hand ITC", cursive;
}
/*153번*/
.font_box153>li{
    font-family: "Monotype Corsiva", cursive;
}
/*154번*/
.font_box154>li{
    font-family: "Mistral", cursive;
}
/*155번*/
.font_box155>li{
    font-family: "Continuous", cursive;
}
/*156번*/
.font_box156>li{
    font-family: "Blacksword", cursive;
}
/*157번*/
.font_box157>li{
    font-family: "Dancing Script", cursive;
}
/*158번*/
.font_box158>li{
    font-family: "Parisienne", cursive;
}
/*159번*/
.font_box159>li{
    font-family: "Alex Brush", cursive;
}
/*160번*/
.font_box160>li{
    font-family: "Great Vibes", cursive;
}
/*161번*/
.font_box161>li{
    font-family: "Edwardian Script", cursive;
}
/*162번*/
.font_box162>li{
    font-family: "Inkburrow", cursive;
}



/*---------------각인 안내사항----------*/
main{
    width: 100%;
    height: 24rem;
}
#Notice{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Notice>ul{
    background-color: rgb(161, 161, 161);
    border-radius: 40px;
    width: 40%;
    height: 80%;
}
#Notice>ul>h3{
    font-size: 1vW;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
    padding-top: 2rem;
}
#Notice>ul>li{
    list-style:decimal;
    list-style-position: inside;
    line-height: 200%;
    width: 80%;
}
#Notice>ul>li>span{
    font-weight: 500;
}

/*-----------------텍스트 입력-------------------*/
#Input_Box{
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Input_Box>.button{
    width: 40%;
    display: flex;
    justify-content:space-between;
}
.button>#FontPreview {
    width: 80%;
    height: 2rem;
    padding: 1rem;
    font-size: larger;
    margin: 0;
}
.button>.preview_button {
    width: 10%;
    font-size: large;
    margin: 0;
}

/*---------------서체 선택 버튼-----------------*/

#Button_Box{
    width: 100%;
    height: 16rem;
}
#Button_Box>ul{
    width: 60%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    gap: 1rem 1rem;
}
#Button_Box>ul>li{
    width: 20rem;
    height: 8rem;
    font-weight: 500;
    list-style: none;
    background-color: rgb(150, 150, 150);
    cursor: pointer;
    border-radius: 16px;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*----------------------폰트 리스트---------------*/
#Preview_Box{
    width: 80%;
    height: 100%;
}
#Preview_Box>ul>div{
    width: 100%;
    background-color: orange;
    height: 6%;
}
#Preview_Box>ul>div>p{
    text-align: center;
}
#Preview_Box>ul>li{
    width: 100%;
    margin: 0;
}
#Preview_Box>.all_font,
#Preview_Box>.font4,
#Preview_Box>.font3,
#Preview_Box>.font2,
#Preview_Box>.font1 {
    height: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20% 10px;
}
#Preview_Box>.all_font>li,
#Preview_Box>.font4>li,
#Preview_Box>.font3>li,
#Preview_Box>.font2>li,
#Preview_Box>.font1>li {
    overflow-wrap: break-word;
    width: 20%;
    line-height: 160%;
    background-color: rgb(213, 213, 213);
    list-style: none;
}
.font_box{
    height: 100%;
    text-align: center;
}
.font_box>li{
    list-style: none;
}
.font_box>li:nth-child(1){
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    height: 80px;
    margin: 0;
    background-color: rgb(173, 173, 173);
}
.font_box>li:nth-child(2){
    height: 60%;
    display: flex;
    justify-content: center;
    flex-flow: column;
}
.font_box>li:nth-child(3){
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    height: 30px;
    background-color: rgb(116, 116, 116)
}
.font_box>li>h5{
    width: 100%;
    padding: 0.2rem 0;
    font-size: larger;
}
.font_box>li>h5:nth-child(2){
    font-size: 18px;
}
.font_box>li>h5>button{
    padding: 1%;
    margin-left: 10px;
    border-style: none;
}
.font_box>li>h5>button:hover{
    background-color: rgb(212, 212, 212);
}
.font_box>li>p{
    font-size: medium;
    display: block;
    width: 90%;
}
.font_box>.intext{
    margin-top: 0;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
}
.font_box>.intext>h6{
    font-size: large;
    display: block;
}


