/*반응형 css파일*/

/*1600px 이하*/
@media (max-width: 1600px) {
    /*각인 안내사항*/
    main{
    height: 30rem;
    }
    #Notice>ul{
    width: 68%;
    height: 84%;
    }
    #Notice>ul>h3{
    font-size: 2vw;
    }
    #Notice>ul>li{
        font-size: 1.4vw;
    }

    /*텍스트 입력*/
    #Input_Box{
    height: 6rem;
    }
    #Input_Box>.button{
        width: 60%;
    }
    .button>#FontPreview{
    height: 4rem;
    font-size: 1.2vW;
    }

    /*폰트 리스트*/
    #Preview_Box>.all_font,
    #Preview_Box>.font4,
    #Preview_Box>.font3,
    #Preview_Box>.font2,
    #Preview_Box>.font1{
    width: 90%;
    gap: 6% 4%;
    }
    #Preview_Box>.all_font>li,
    #Preview_Box>.font4>li,
    #Preview_Box>.font3>li,
    #Preview_Box>.font2>li,
    #Preview_Box>.font1>li{
    height: 87%;
    }
    .font_box>li:nth-child(1)>h5:nth-child(1){
    font-size: 30px;
    }
    .font_box>li:nth-child(3)>h6{
    font-size: 30px;
    line-height: 120%;
    }
    .font_box>li>h5>button{
    margin-left: 8px;
    }
}

/*태블릿 이하*/
@media (max-width: 1024px) {
    /*제목*/
    header{
    padding: 3%;
    }

    /*각인 안내사항*/
    #Notice>ul{
    width: 74%;
    }

    /*텍스트 입력*/
    #Input_Box{
    height: 20%;
    }    
    #Input_Box>.button{
    width: 70%;
    }
    input::placeholder{
    font-size: 1.4vW;
    }
    
    /*서체 선택 버튼*/
    #Button_Box{
    height: 8rem;
    }
    #Button_Box>ul{
    width: 80%;
    gap: 0.6rem;
    }
    #Button_Box>ul>li{
    height: 6rem;
    padding: 0;
    font-size: 1.4vw;
    font-weight: 600;
    }

    /*폰트 리스트*/
    #Preview_Box>.all_font,
    #Preview_Box>.font4,
    #Preview_Box>.font3,
    #Preview_Box>.font2,
    #Preview_Box>.font1{
    width: 86%;
    }
    #Preview_Box>.all_font>li,
    #Preview_Box>.font4>li,
    #Preview_Box>.font3>li,
    #Preview_Box>.font2>li,
    #Preview_Box>.font1>li{
    width: 30%;
    height: 100%;
    overflow-wrap: break-word;
    }
    .font_box>li>h5{
    font-size: 1.6vW;
    padding: 0.4rem 0;
    }
    .font_box>li>p{
    padding: 0 1rem;
    margin-bottom: 0.2rem;
    }
    .font_box>li:nth-child(3)>h6{
    line-height: 110%;
    }
}


/*태블릿 세로기준*/
@media (max-width:768px) {
    /*제목*/
    header{
        font-size: 1.6vW;
    }

    /*각인 안내사항*/
    main{
    height: 18rem;
    }
    #Notice>ul{
    width: 80%;
    }
    #Notice>ul>h3{
    font-size: 2.4vw;
    padding: 1rem 0;
    margin: 0;
    }
    #Notice>ul>li{
    width: 90%;
    font-size: 1.9vw;
    line-height: 170%;
    }

    /*텍스트입력*/
    #Input_Box{
        height: 40%;
    }
    input::placeholder {
        font-size: 1.6vW;
    }
    .button>form>button{
        font-size: 12px;
    }
    
    /*서체 선택 버튼*/
    #Button_Box{
    height: 10rem;
    display: flex;
    align-items: center;
    margin: 1rem 0;
    }
    #Button_Box>ul{
    flex-wrap: wrap;
    }
    #Button_Box>ul>li{
    width: 30%;
    height: 5rem;
    padding: 0;
    font-size: 2vw;
    border-radius: 20px;
    }

    /*텍스트 입력*/
    #Input_Box>.button{
    width: 80%;
    gap: 2rem;
    }
    .button>#FontPreview{
    width: 90%;
    }

    /*폰트 리스트*/
    #Preview_Box{
    margin-top: 2rem;
    height: 110%;
    }
    #Preview_Box>.all_font,
    #Preview_Box>.font4,
    #Preview_Box>.font3,
    #Preview_Box>.font2,
    #Preview_Box>.font1{
    width: 100%;
    gap: 10% 2%;
    height: 100%;
    }
    #Preview_Box>.all_font>li,
    #Preview_Box>.font4>li,
    #Preview_Box>.font3>li,
    #Preview_Box>.font2>li,
    #Preview_Box>.font1>li{
    width: 30%;
    height: 100%;
    line-height: 200%;
    }
    .font_box>li>h5{
    font-size: 2vW;
    padding: 0.1rem;
    }
    .font_box>li>h5:nth-child(2){
    font-size: 1.6vW;
    }
    .font_box>li>p{
    font-size: 1.6vW;
    padding: 1px 0;
    margin: 0 auto;
    }
    .font_box>li:nth-child(3)>h6{
    width: 98%;
    }
}

/*모바일*/
@media (max-width:480px) {
    /*각인 안내사항*/
    main{
    height: 16rem;
    }
    #Notice>ul{
    width: 90%;
    }
    #Notice>ul>li{
    font-size: 2.2vw;
    line-height: 210%;
    }
    #Notice>ul>h3{
    height: 1rem;
    font-size: 3vw;
    }

    /*텍스트 입력*/
    #Input_Box{
    height: 20%;
    }
    .button>form>#FontPreview{
        width: 74%;
    }
    .button>form>button{
        width: 16%;
    }

    /*서체 선택 버튼*/
    #Button_Box{
    height: 8rem;
    }
    #Button_Box>ul{
    gap: 0.4rem;
    }
    #Button_Box>ul>li{
    height: 3rem;
    }

    /*폰트 리스트*/
    #Preview_Box{
    margin: 0 auto;
    }
    .font_box{height: 100%;}
    .font_box>li{
    height: 30%;
    }
    #Preview_Box>.all_font>li,
    #Preview_Box>.font4>li,
    #Preview_Box>.font3>li,
    #Preview_Box>.font2>li,
    #Preview_Box>.font1>li{
    width: 30%;
    height: 80%;
    }
    .font_box>li:nth-child(1)>h5:nth-child(1){
    height: 40%;
    font-size: 20px;
    }
    .font_box>li:nth-child(1)>h5:nth-child(2){
    font-size: 10px;
    height: 20%;
    }
    .font_box>li:nth-child(2){
    height: 40%;
    display: flex;
    align-items: center;
    }
    .font_box>li:nth-child(2)>h6{
    font-size: medium;
    }
    .font_box>li:nth-child(3){
    font-size: 12px;
    }
}